<div>
	<ol class='breadcrumb'>
	  <li ng-repeat='step in steps'
	  	  ng-if="step.ncyBreadcrumbLabel.trim() !== 'skipThisLabelInFavorOfManualHandling'"
	      ng-class='{active: $last}'
	      ng-switch='$last || !!step.abstract'>
	    <a ng-switch-when='false' href='{{step.ncyBreadcrumbLink}}'>{{step.ncyBreadcrumbLabel | translate}}</a>
	    <span ng-switch-when='true'>{{step.ncyBreadcrumbLabel | translate}} 
	    </span>
	  </li><!--  
	  	--><li ng-class='{active: $last}' ng-repeat='data in steps[steps.length - 1].ncyBreadcrumbData'>
		  	{{data}}
		</li>
	</ol>
</div>