<div class="container text-left" th:include="fragments/footerCommon">Common part of footer</div>

<div class="container hidden-xs">
    <div class="row">
        <div class="col-sm-1 col-md-2 col-lg-2 example-block">

            <p class="text-muted"><strong><a href="https://inside.cybercom.com/Footer/About-Cybercom/">About Cybercom</a></strong></p>
            <h5><small><a href="https://inside.cybercom.com/Teamwork/OptionalTeams/201203/Cybercom-Strategy/">Strategy</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/About-Cybercom/Mission-vision-and-values/">Mission, vision and values</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/About-Cybercom/Organisation/">Organisation</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/About-Cybercom/Addresses/">Addresses</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/About-Cybercom/Corporate-ID/">Corporate ID</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Sales/Sales-presentation-PPT/">Company presentation PPT</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/About-Cybercom/Group-HR1/">Group HR</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/About-Cybercom/CSR/">CSR</a></small></h5>

        </div>          
        <div class="col-sm-1 col-md-2 col-lg-1 example-block">

            <p><strong><a href="https://inside.cybercom.com/Footer/Helpdesk/ISIT-roadmap/">IS/IT</a></strong></p>

            <h5><small><a href="https://inside.cybercom.com/Footer/Helpdesk/orderform/">Order Form</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/Helpdesk/FAQ/">Helpdesk FAQ</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/Helpdesk/Contact-Helpdesk/">Contact Helpdesk</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/Helpdesk/ISIT-roadmap/">IS/IT roadmap</a></small></h5>

        </div>

        <div class="col-sm-1 col-md-2 col-lg-2 example-block">

            <p><strong><a href="https://inside.cybercom.com/Footer/Finances/">Group Finance</a></strong></p>

            <h5><small><a href="https://inside.cybercom.com/Footer/Finances/About-us1/">About us</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/Finances/Instructions--Guidelines/">Instructions &amp; Guidelines</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/Finances/Reporting-schedule/">Reporting schedule</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/Finances/Transfer-prices/">Transfer prices</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/Finances/Policies---Finance1/">Policies - Finance</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/Finances/Currency-Rates1/">Currency Rates</a></small></h5>


        </div>     

        <div class="col-sm-1 col-md-2 col-lg-2 example-block">

            <p><strong><a href="https://inside.cybercom.com/Footer/Communications/">Communications</a></strong></p>

            <h5><small><a href="https://inside.cybercom.com/Footer/Communications/Word-templates1/">Word templates</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/Communications/Graphic-guidelines/">Graphic guidelines</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/Communications/Business-cards/">Business card and signature</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/Communications/PowerPoint-template/">PowerPoint template</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/Communications/Logotype/">Logotype</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/Communications/Sponsor-a-child/">Sponsor a child</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/Communications/Cybercom-images/">Cybercom images</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/Communications/How-to-write-a-blogpost-on-Cybercom-Newsroom/">Add a blogpost - Newsroom</a></small></h5>



        </div>     

        <div class="col-sm-1 col-md-1 col-lg-1 example-block">

            <p><strong><a href="https://inside.cybercom.com/Footer/Policies/">Policies</a></strong></p>

            <h5><small><a href="https://inside.cybercom.com/Footer/Policies/Insurance/">Insurance</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/Policies/Formalities/">Formalities</a></small></h5>


        </div>     

        <div class="col-sm-1 col-md-2 col-lg-2 example-block">

            <p><strong><a href="https://inside.cybercom.com/Footer/Web-shop1/">Web shop</a></strong></p>

            <h5><small><a href="http://shops.nwg4com.com/cybercom/">Shop</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/Web-shop1/Web-shop/">Info &amp; contact</a></small></h5>


        </div>     

        <div class="col-sm-1 col-md-1 col-lg-2 example-block">

            <p><strong><a href="https://inside.cybercom.com/Footer/Inside/">Inside</a></strong></p>

            <h5><small><a href="https://inside.cybercom.com/Footer/Inside/Guides-and-instructions/">Guides and instructions</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/Inside/Contact-webmaster/">Contact Webmaster</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/Inside/Error-report-/">Error report </a></small></h5>

            <h5><small><a href="/https://inside.cybercom.comFooter/Inside/Known-errors/">Known issues</a></small></h5>

            <h5><small><a href="https://inside.cybercom.com/Footer/Inside/Suggestion-Box/">Suggestion Box</a></small></h5>

        </div>                     
    </div>   
</div>