/* 
    Created on : Aug 20, 2014, 9:52:14 AM
    Author     : Mateusz.Glabicki
*/

#dropzone {
    background: #ccccc;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    border: 1px dashed gray;
}
#dropzone.in {
    width: 600px;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
#dropzone.hover {
    background: lawngreen;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}