<div class="modal-header">
	<h3>
		<span >{{'questionnaireTemplate-copy.label.header'|translate}}</span>:
		&quot;{{questionnaireTemplate.name}}&quot;
	</h3>
</div>

<div class="modal-body">
	<form class="form-horizontal" name="questionnaireTemplateCopyForm">
		<div class="form-group">
			<label for="questionnaireTemplateCopyName" 
				   class="col-sm-2 control-label">
            {{'questionnaireTemplate-copy.label.newname'|translate}}</label>
		    <div class="col-sm-10">
		      <input type="text" 
		      		 name="name"
		      		 class="form-control"
		      		 id="questionnaireTemplateCopyName"
		      		 ng-model="newName"
		      		 ng-minlength="{{constant.nameMin}}"
                	 ng-maxlength="{{constant.nameMax}}" 
                	 ng-change="validationErrors.duplicatedName = false"
		      		 required="true"
		      		 autofocus="true"
		      		 force-focus="true"
		      		 enter-press="confirm()" />
		      		 
      		 <p class="error text-danger"
	            ng-show="questionnaireTemplateCopyForm.name.$error.maxlength"
	            translate="questionnaireTemplate-copy.validator.name.tooLong" translate-values="{max:'{{constant.nameMax}}'}"></p>
	
	         <p class="error text-danger"
	            ng-show="questionnaireTemplateCopyForm.name.$error.minlength"
	            translate="questionnaireTemplate-copy.validator.name.tooShort" translate-values="{min:'{{constant.nameMin}}'}"></p>
	            
	         <p class="error text-danger"
	            ng-show="andOperator(questionnaireTemplateCopyForm.name.$error.required, questionnaireTemplateCopyForm.name.$dirty)">
               {{'questionnaireTemplate-copy.validator.name.required'|translate}}</p>
	         <p class="error text-danger"
	            ng-show="validationErrors.duplicatedName">
               {{'questionnaireTemplate-copy.validator.name.duplicated'|translate}}</p>
		    </div>
		</div>
	</form>
</div>

<div class="modal-footer">
   <button ng-attr-title="{{'questionnaireTemplate-copy.button.copy'|translate}}" 
   		   type="button" 
   		   data-dismiss="modal" 
   		   class="btn btn-primary" 
   		   ng-click="confirm()"
   		   ng-disabled="questionnaireTemplateCopyForm.$invalid">
      <span class="btn-label">
         <i class="fa fa-check"></i> 
         <i>{{'questionnaireTemplate-copy.button.copy'|translate}}</i>
      </span>
   </button>
   <button ng-attr-title="{{'questionnaireTemplate-copy.button.cancel'|translate}}" 
   		   type="button"
   		   ng-click="cancel()" 
   		   class="btn btn-default">
      <span class="btn-label">
         <i class="fa fa-undo"></i> 
         <i>{{'questionnaireTemplate-copy.button.cancel'|translate}}</i>
      </span>
   </button>
   <br/>
</div>
